.box1{

     width: 100px;
    height: 100px;
    border: solid black;
    border-radius: 10px;
    color: #00ff00;
    text-align: center;
    background-color: red;
}

.box2{
   
     width: 100px;   
     height: 100px;
     border: solid black;
     border-radius: 10px;
    color: #f0f;
    text-align: center;
    background-color:rgb(0, 100, 200);
}

.box3{

     width: 100px;
     height: 100px;
      border: solid black;
     border-radius: 10px;
    color: hsl(200, 60%, 50%);
    text-align: center;
    background-color:rgb(113, 4, 146);

}

.box4{

     width: 100px;
     height: 100px;
      border: solid black;
     border-radius: 10px;
    color: hsl(332, 94%, 30%);
    text-align: center;
    background-color:rgb(49, 219, 72);

}

.box5{

     width: 100px;
     height: 100px;
      border: solid black;
     border-radius: 10px;
    color: hsl(86, 100%, 50%);
    text-align: center;
    background-color:rgb(4, 137, 146);

}

.container{
    display:flex;
    gap: 10px;
    
}

body{

     justify-items: center;
    align-items: center;

}

.image{

    background-image: url(./image/Karan-Aujla-Concert-Delhi.jpeg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    
}

.card{

     width: 350px;
     height: 350px;
     border: rgba(255, 0, 0, 0.5);
     text-align: center;
     background: linear-gradient(to right, aqua, purple);
     border-radius: 15px;

}

.card p{

color: rgb(141, 47, 9);

}

.card h1{

 color: #ff0022;

}

.card button{

    background: radial-gradient(circle,red, yellow, green);

}